@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
*{
    box-sizing: border-box;

}
body{
    font-family:'Muli',sans-serif;
    background-color:goldenrod;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow: hidden;
    margin:0;

}

ul li {
  list-style-type: none;
  padding: 0px 10px;
}

li a {
  text-decoration: none;
  color: yellow;
}

li a:hover {
  color: white;
  text-decoration: underline;
}



.nav-bar {
  height: 100%;
  width: 100%;
  justify-content: center;
  

  
  
  
  
}


.flex{
    display: flex;
}


    



.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 80vh;
    border-radius: 50px;
    color:brown;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3{
    font-size: 24px;
    position:absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    
}

.panel.active{
    flex: 5;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s0;


}

.nav{
    display: flex;
}

@media(max-width: 300px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(3),
    .panel:nth-of-type(4){
        display:none;
    }
}